ul{
    list-style: disc !important;
    z-index: 10;
}

.map{
    padding: 110px 0 150px 400px;
    background-color: #EFEFEF;
    overflow: hidden;
}

.map__link{
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    text-transform: uppercase;
}

.map__container{
    position: relative;

}

.map__img{
    position: absolute;
    top: -100px;
    left: 180px;
    transform: rotate(37deg) scale(1.3);
    z-index: -1;
}

li > ul {
    padding-left: 30px;
}

@media (max-width: 1024px){
    .map{
        padding: 60px 0 70px 20px;
    }

    .map__img{
        display: none;
    }

    .map__link{
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 430px){

    .map{
        padding: 40px 0 40px 20px;
    }

    .map__link{
        font-size: 14px;
        line-height: 32px;
    }
}