RewriteEngine On

# Указываем, чтобы index.html был файлом по умолчанию
DirectoryIndex pages/index.html

# Перенаправляем запросы к корню на /pages/
RewriteCond %{REQUEST_URI} !^/pages/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /pages/$1 [L]

# Скрываем расширения .html (с учётом дефиса в пути)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# Разрешаем доступ к статическим файлам
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^ - [L]

