* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input:focus {
    outline: 3px solid #D9FA00;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

body {
    font-family: "Arial", sans-serif;
    letter-spacing: -0.034rem;
}

button {
    border: none;
    cursor: pointer;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

[class*=swiper] {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -webkit-user-drag: auto;
    pointer-events: auto;
}

.body.active {
    overflow: hidden;
}

.title {
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.09rem;
}

.main {
    position: relative;
    padding-top: 100px;
    background-color: #EFEFEF;
}

.test {
    position: fixed;
    left: 50%;
    filter: invert(1);
    transform: rotate(-45deg);
}

/* HEADER */
.wrapper__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 100%;
}

.header {
    position: relative;
    padding: 20px 0;
    background-color: #000;
    z-index: 100;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__logo {
    position: absolute;
    left: -5px;
    top: -20px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__link {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.034rem;
}

.nav__link:hover {
    border-bottom: 2px solid #fff;
}

html {
    scroll-behavior: smooth;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background-color: #D9FA00;
    font-size: 20px;
    font-weight: 400;
}

.header__btn {
    color: #000;
    letter-spacing: 0.04rem;
    margin-right: 5px;
    margin-left: 26px;
}

.burger {
    display: none;
}

/* HERO */
.hero {
    background-color: #EFEFEF;
    padding-bottom: 227px;
    overflow-x: hidden;
}

.hero__container {
    position: relative;
}

.hero__content {
    position: relative;
    background-color: #fff;
    padding: 63px 90px 57px 90px;
    border-radius: 0 0 50px 50px;
    z-index: 10;
}

.hero__title {
    font-size: 72px;
    line-height: 95px;
    margin-bottom: 15px;
    letter-spacing: -0.13rem;
}

.hero__title-color {
    color: #D9FA00;
}

.hero__list {
    margin-bottom: 45px;
}

.hero__item {
    font-size: 20px;
    font-weight: 700;
}

.hero__item:not(:last-child) {
    margin-bottom: 27px;
}

.hero__btns {
    display: flex;
    z-index: 10;
}

.hero__btn {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.034rem;
}

.hero__btn:not(:last-child) {
    margin-right: 30px;
}

.btn__white {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #000;
}

.hero__img {
    position: absolute;
    top: -82px;
    right: -80px;
    z-index: 1;
}

.decoration {
    position: fixed;
    left: 20px;
    top: 147px;
}

.decoration__text {
    position: absolute;
    top: -35px;
    right: -116px;
    z-index: 1;
}

/* CHOICE */
.choice {
    background-color: #222222;
    z-index: 10000;
    position: relative;
}

.choice__container {
    padding: 6px 0 71px 0;
}

.choice__titel {
    color: #fff;
    margin-bottom: 53px;
}

.choice__titel-part {
    color: #000;
    background-color: #D9FA00;
    padding-left: 9px;
}

.choice__content {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/bc.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.choice__block:first-child {
    padding: 86px 0 85px 22px;
}

.choice__block:last-child {
    padding: 28px 67px 81px 0;
}

.choice__item {
    padding-left: 78px;
    max-width: 378px;
    font-size: 20px;
    background-image: url("../images/check.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 67px;
    line-height: 130%;
    font-weight: 400;
    font-family: Arial, sans-serif;
}

.choice__item:not(:last-child) {
    margin-bottom: 46px;
}

.choice__rating {
    font-size: 30px;
    margin-bottom: 7px;
    margin-left: 8px;
    letter-spacing: -0.057rem;
}

.choice__stars {
    margin-bottom: 18px;
}

.choice__star:not(:last-child) {
    margin-right: 15px;
}

.choice__rating-number {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.034rem;
    padding-left: 15px;
}

.choice__block-elem {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.choice__avito {
    display: block;
    margin-bottom: 30px;
}

.choice__btn {
    font-size: 20px;
    color: #fff;
    background-color: #222222;
}

/* PHONSE */
.phons {
    height: 585px;
    background-color: #EFEFEF;
}

/* REVIEW */
.review {
    position: relative;
    background-color: #D3D3D3;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 10;
}

.review__title {
    margin-top: 40px;
    margin-bottom: 50px;
}

.weapper__slide {
    position: relative;
    z-index: 30;
}

.index__devices {
    margin-top: 30px;
}

.index {
    position: relative;
    z-index: 10;
}

.slide {
    position: relative;
    background-color: #000;
    padding: 80px 45px;
    border-radius: 20px;
    width: fit-content;
    overflow: hidden;
    pointer-events: auto;
}

.review__container {
    position: relative;
    max-width: 1122px;
    margin: 0 auto;
}

.review__logo {
    position: absolute;
    left: 30px;
    top: -20px;
    width: 75px;
    z-index: 30;
}

.review__feedback {
    position: relative;
    z-index: 20;
    pointer-events: auto;
}

.review__decor {
    position: absolute;
    left: 0;
    z-index: 10;
    pointer-events: auto;
}

.swiper-slide {
    width: 317px;
    padding: 113px 0;
    transition: all 0.3s ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev path,
.swiper-button-next path {
    fill: #fff;
}

.swiper-button-prev path,
.swiper-button-next path {
    transition: all 0.4s;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 55% !important;
    width: 45px !important;
    height: 80px !important;
    opacity: 1 !important;
}

.swiper-button-disabled path {
    fill: #000;
}

.swiper-slide-active {
    transform: scale(1.2) !important;
}

.swiper .swiper-slide {
    transform-origin: center !important;
}

.swiper-button-prev {
    left: -115px !important;
}

.swiper-button-next {
    transform: rotate(180deg);
    right: -115px !important;
}

.review__decor-green {
    position: absolute;
    left: -3600px;
    top: 120px;
    height: 802px;
}

.review__decor-black {
    position: absolute;
    right: -3600px;
    top: 120px;
}

/* CONTACTS */
#contact:before {
    display: block;
    content: "";
    height: 100px;
    margin: -100px 0 0;
}

.contacts {
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
    overflow: hidden;
    z-index: 11;
    background-color: #fff;
}

.contacts__container {
    position: relative;
}

.contacts__title {
    margin-bottom: 30px;
    z-index: 11;
    position: relative;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 11;
    position: relative;
}

.contacts__list {
    margin-bottom: 70px;
}

.contacts__item-img {
    margin-right: 20px;
}

.contacts__item-map {
    margin-bottom: 30px;
}

.contacts__item-tel {
    margin-bottom: 40px;
}

.contacts__link {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.07rem;
}

.wrapper__contacts-btns {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 16px;
}

.contacts__btns {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contacts__btn-black {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
}

.contacts__block-map {
    position: relative;
    z-index: 10;
}

.contacts__decor {
    position: absolute;
    width: 123px;
    height: 512px;
    z-index: -5;
    right: -113px;
}

.contacts__btn {
    font-size: 16px;
    font-weight: 700;
}

.contacts__text {
    font-size: 20px;
    font-weight: 700;
}

.contacts__decor-mega {
    position: absolute;
    left: -3600px;
    top: 110px;
    z-index: 10;
}

.contacts__span:hover {
    border-bottom: 2px solid #000;
}

/* FOOTER */
.footer {
    background-color: #000;
    padding-top: 50px;
    z-index: 1000;
    position: relative;
}

.footer__wrapper {
    border-top: 1px solid #fff;
    padding-top: 50px;
}

.footer__container {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.footer__blcok {
    display: flex;
}

.footer__list:first-child {
    margin-right: 80px;
}

.footer__nav {
    margin-right: 120px;
}

.footer__item {
    margin-bottom: 33px;
}

.footer__link {
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.05rem;
}

.footer__link:hover {
    border-bottom: 2px solid #fff;
}

.footer__tel {
    display: block;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 2px;
    letter-spacing: 0.044rem;
}

.footer__btn {
    font-size: 20px;
    font-weight: 700;
    width: 250px;
    color: #000;
}

.up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 0 0 20px 20px;
    left: 70px;
    top: -101px;
    cursor: pointer;
}

.up__img {
    margin-bottom: 10px;
}

.up__text {
    font-size: 16px;
    font-weight: 700;
}

.wrapper__start {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__paragrapg {
    padding-top: 40px;
    font-weight: 400;
    line-height: 26px;
    font-size: 20px;
    color: #fff;
    padding-right: 80px;
    letter-spacing: 0.044rem;
}

.footer__down {
    margin-top: 60px;
    border-top: #fff 1px solid;
}

.footer__down-text {
    padding: 26px 0;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.044rem;
    text-align: center;
}

/* OVERFLOW */
.overflow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1000;
}

.overflow__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000000;
    padding: 100px 70px 70px 70px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.overflow__content-two {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 50px 0px 50px;
    max-width: 510px;
}

.close {
    position: absolute;
    top: 35px;
    right: 35px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    align-self: end;
    margin-bottom: 50px;
    letter-spacing: 0.034rem;
}

.overflow__text {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 370px;
    letter-spacing: 0.034rem;
}

.overflow__text.active {
    font-size: 28px;
    width: 370px;
}

.overflow__form,
.call__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overflow__span {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.034rem;
    line-height: 27px;
    text-align: center;
    padding-bottom: 0px;
}

.overflow__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.overflow__tel {
    display: block;
    color: #000;
}

.overflow__input,
.call__input {
    width: 615px;
    height: 100px;
    padding-left: 53px;
    border-radius: 60px;
    font-size: 32px;
    font-weight: 700;
    border: none;
    box-shadow: inset 0 4px 14px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.034rem;
    background-color: #fff;
}

.overflow__input {
    width: 330px;
    height: 55px;
    font-size: 18px;
}

.devices__blcok {
    transition: all 0.3s ease-in-out;
}

.devices__blcok:hover {
    background-color: #222222;
}

.devices__blcok:hover .devices__titel {
    color: #fff;
}

.overflow__input::placeholder,
.call__input::placeholder {
    color: rgb(216, 216, 216);
}

.call__input:not(:last-child) {
    margin-bottom: 55px;
}

.overflow__input:not(:last-child) {
    margin-bottom: 30px;
}

.overflow__btn,
.call__btn {
    font-size: 32px;
    font-weight: 700;
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
    letter-spacing: 0.034rem;
}

.overflow__btn {
    width: 220px;
    height: 55px;
    font-size: 18px;
}

.overflow__polit,
.call__polit {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.034rem;
}

.overflow__polit {
    font-size: 10px;
}

.overflow__img {
    width: 60%;
}

.decor__big {
    position: fixed;
    left: 30px;
    top: 150px;
    z-index: 1;
}

.overflow__decor {
    position: absolute;
    z-index: -1;
    transform: rotate(38deg);
    left: -57px;
    top: -58px;
    opacity: 0.5;
    width: 80%;
}

.case {
    background-color: #EFEFEF;
    padding: 50px 0 100px 0;
}

.case__title {
    position: relative;
    z-index: 11;
    margin-bottom: 35px;
}

.case__content {
    display: grid;
    grid-template-columns: repeat(5, 207px);
    column-gap: 5px;
    row-gap: 20px;
    justify-items: center;
}

.case__img {
    z-index: 1000;
    position: relative;
}

.map__list {
    list-style: disc !important;
    z-index: 10;
}

.map {
    padding: 110px 0 150px 400px;
    background-color: #EFEFEF;
    overflow: hidden;
}

.map__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    text-transform: uppercase;
}

.map__container {
    position: relative;
    z-index: 10;
}

.map__img {
    position: absolute;
    top: -100px;
    left: 180px;
    transform: rotate(37deg) scale(1.3);
    z-index: -1;
}

li>ul {
    padding-left: 30px;
}

.model {
    background-color: #EFEFEF;
    padding-bottom: 150px;
}

.model__container {
    position: relative;
    z-index: 10;
}

.model__decor {
    position: fixed;
    left: 30px;
    top: 60px;
    z-index: -1;
}

.model__title {
    font-size: 48px;
    font-weight: 700;
    padding: 135px 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.model__name {
    padding-left: 10px;
}

.model__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model__list {
    width: 550px;
}

.model__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    padding: 21px 30px 21px 20px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05rem;
}

.model__item:not(:last-child) {
    margin-bottom: 15px;
}

.call {
    padding: 24px 0 50px 0;
    background-color: #EFEFEF;
    overflow: hidden;
}

.call__container {
    position: relative;
    z-index: 10;
}

.call__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.034rem;
}

.call__text {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 0.034rem;
}

.call__img {
    position: fixed;
    left: 60px;
    top: 50px;
    z-index: -1;
}

.decor__img {
    position: fixed;
    z-index: -1;
    top: 50px;
    left: 30px;
}

.models {
    padding-top: 135px;
    background-color: #EFEFEF;
    padding-bottom: 80px;
    position: relative;
    z-index: 10;
}

.models__title {
    font-size: 48px;
    text-align: start;
    margin-bottom: 80px;
}

.models__item {
    position: relative;
    display: flex;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
}

.models__link:hover {
    border-bottom: 2px solid #000;
}

.models__item:not(:last-child) {
    margin-bottom: 40px;
}

.models__block-all {
    padding-left: 50px;
    width: 100%;
}

.models__titel {
    display: flex;
    width: 200px;
    font-weight: 700;
    font-size: 20px;
}

.models__decor {
    transform: rotate(90deg);
    width: 21px;
    margin-left: 40px;
}

.models__img {
    position: absolute;
    top: 60px;
    width: 211px;
}

.models__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.models__colum {
    padding-bottom: 20px;
    min-width: 227px;
}

.models__link {
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.models__more {
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

.devices {
    padding-bottom: 60px;
}

.devices__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;
    column-gap: 16px;
    position: relative;
    z-index: 10;
}

.devices__blcok {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding-top: 10px;
    height: 200px;
}

.price_list {
    margin-top: 110px;
}

.price_list-title {
    text-align: center !important;
}

[alt=big__card] {
    height: 150px;
}

.devices__titel {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.devices__decor {
    transform: rotate(90deg);
    width: 21px;
}

.found {
    background-color: #EFEFEF;
    padding-bottom: 80px;
}

.found__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 20px;
    padding: 16px 70px;
    z-index: 10;
    position: relative;
}

.found__titel {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: 0.034rem;
}

.found__text {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    max-width: 590px;
    letter-spacing: 0.034rem;
}

.found__btns {
    width: min-content;
}

.found__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    background-color: #D9FA00;
    border-radius: 50px;
}

.found__btn-green {
    color: #000;
    margin-bottom: 12px;
}

.found__btn-tel {
    width: 24px;
    margin-right: 10px;
}

.found__btn-color {
    color: #fff;
    background-color: #222222;
    border: 2px solid #fff;
}

.models__table.active .models__row:nth-child(1n+4) {
    display: grid;
}

.models__table.active .models__colum:nth-child(1n+5) {
    display: grid;
}

.models__table .models__colum:nth-child(1n+5),
.models__row:nth-child(1n+4) {
    display: none;
}

.contacts__map {
    border-radius: 3px;
}

.index__found {
    padding-bottom: 30px;
}

.index__title {
    font-size: 48px;
    text-align: start;
    margin-bottom: 60px;
}

.price-list__container {
    grid-template-columns: repeat(4, 205px);
    row-gap: 40px;
    column-gap: 25px;
}

.price-list__container .devices__blcok {
    height: 205px;
}

@media (max-width: 1080px) {
    .case__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1px;
        row-gap: 20px;
        justify-items: center;
    }

    .case__img {
        width: 90%;
    }

    .container {
        max-width: 984px;
    }

    .found__text,
    .models__link {
        font-size: 19px;
    }

    .hero__img {
        width: 55%;
        right: -100px;
    }

    .title {
        font-size: 68px;
    }

    .up {
        left: 30px;
    }

    .model__title {
        font-size: 46px;
    }

    .model__list {
        width: 550px;
    }

    .swiper {
        width: 800px !important;
    }

    .swiper-button-prev {
        left: 20px !important;
    }

    .swiper-button-next {
        right: 20px !important;
    }

    .review__feedback {
        width: 100%;
    }

    .slide {
        padding: 60px 33.25px;
    }

    .models__title {
        font-size: 48px;
    }

    .index__title {
        font-size: 42px;
    }
}

@media (max-width: 1023px) {
    .index__choice {
        padding-bottom: 350px;
    }

    .call {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .call__img {
        display: none;
    }

    .call__title {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .call__text {
        font-size: 16px;
        width: 190px;
        margin-bottom: 20px;
    }

    .call__input {
        width: 360px;
        height: 60px;
        font-size: 16px;
    }

    .call__input:not(:last-child) {
        margin-bottom: 30px;
    }

    .call__btn {
        font-size: 20px;
        width: 260px;
        height: 75px;
        margin-bottom: 12px;
    }

    .call__polit {
        font-weight: 700;
        font-size: 12px;
    }

    .header__btn {
        margin: 0;
    }

    .case {
        background-color: #EFEFEF;
        padding: 400px 0 100px 0;
    }

    .case__title {
        margin-bottom: 35px;
    }

    .case__content {
        display: grid;
        grid-template-columns: repeat(2, 207px);
        column-gap: 5px;
        row-gap: 20px;
        justify-items: center;
    }

    .case__img {
        width: 90%;
    }

    .devices {
        padding-bottom: 30px;
    }

    .devices__container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .found__content {
        flex-direction: column;
    }

    .found__titel {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .found__text {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .found {
        padding-bottom: 30px;
    }

    .found__block {
        align-self: flex-start;
    }

    .found__text {
        width: 295px;
        margin-bottom: 20px;
    }

    .found__content {
        padding: 20px 24px 35px 24px;
    }

    .overflow__decor {
        left: -27px;
        top: -19px;
        width: 75%;
    }

    .overflow__img {
        width: 150px;
        bottom: 0;
    }

    .overflow__text {
        font-size: 16px;
        width: 165px;
    }

    .overflow__span br {
        display: none;
    }

    .overflow__span {
        font-size: 10px;
        line-height: 17px;
        width: 250px;
    }

    .overflow__content {
        padding: 15px;
        padding-top: 55px;
        height: fit-content;
    }

    .overflow__text {
        width: 280px;
        margin-bottom: 20px;
    }

    .overflow__input {
        width: 275px;
        height: 35px;
    }

    .overflow__input:not(:last-child),
    .call__input:not(:last-child) {
        margin-bottom: 20px;
    }

    .overflow__btn {
        height: 42px;
        width: 180px;
    }

    .overflow__polit {
        font-size: 6px;
    }

    .overflow__btn,
    .overflow__text,
    .close,
    .overflow__input {
        font-size: 13px;
    }

    .close {
        top: 15px;
        right: 15px;
    }

    .decoration__text,
    .decoration,
    .review__title {
        display: none;
    }

    .container {
        max-width: 430px;
        padding: 0 11px;
    }

    .header {
        padding: 25.5px 0;
    }

    .header__logo {
        left: 10px;
        top: -14px;
    }

    .burger {
        position: relative;
        display: block;
        width: 72px;
        height: 49px;
        margin-right: 14px;
        transition: all 0.5s;
    }

    .burger span {
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        background-color: #fff;
        transition: all 0.5s;
    }

    .burger.active span {
        opacity: 0;
    }

    .burger__up,
    .burger__down {
        position: absolute;
        content: "";
        width: 58%;
        height: 5px;
        background-color: #fff;
        transition: all 0.5s;
    }

    .burger__up:first-child,
    .burger__down:last-child {
        right: 0;
    }

    .burger.active .burger__up {
        transform: rotate(45deg) translate(5px, 4.5px);
    }

    .burger.active .burger__up:first-child {
        transform: rotate(-45deg) translate(-5px, 3.5px);
    }

    .burger.active .burger__down {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .burger.active .burger__down:last-child {
        transform: rotate(45deg) translate(-5px, -4px);
    }

    .burger__up {
        top: 0;
    }

    .burger__down {
        bottom: 0;
    }

    .burger span {
        top: 50%;
        transform: translateY(-50%);
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 100px;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #181818;
        z-index: -1;
        transition: all 0.5s;
    }

    .overflow__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .overflow__content-two {
        padding: 55px 15px 0 15px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        margin-bottom: 30px;
    }

    .nav__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 40px;
    }

    .nav.active {
        left: 0;
    }

    .hero {
        padding-bottom: 115px;
    }

    .hero__title {
        font-size: 46px;
        line-height: 130%;
        margin-bottom: 11px;
        letter-spacing: -0.09rem;
    }

    .hero__list {
        margin-bottom: 19px;
    }

    .hero__item {
        font-size: 16px;
    }

    .hero__item:not(:last-child) {
        margin-bottom: 7px;
    }

    .hero__content {
        padding: 53px 15px 48px 15px;
    }

    .hero__btns {
        flex-direction: column;
    }

    .hero__btn {
        color: #000;
    }

    .hero__btn:not(:last-child) {
        margin-right: 0;
        margin-bottom: 18px;
    }

    .hero__img {
        width: 250px;
        top: 150px;
        right: -60px;
    }

    .choice {
        position: relative;
    }

    .choice__titel {
        font-size: 36px;
        text-align: start;
        margin-bottom: 33px;
        padding-top: 22px;
    }

    .choice__avito {
        margin-bottom: 31px;
    }

    .choice__content {
        flex-direction: column;
        background-image: none;
    }

    .choice__list,
    .choice__block-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice__item {
        font-size: 20px;
        color: #fff;
        background-image: url("../images/check-white.png");
    }

    .choice__block:first-child {
        padding: 0;
        margin-bottom: 25px;
    }

    .choice__block:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #D9FA00;
        padding: 14px 0 64px 0;
        position: absolute;
        left: 0;
        top: 402px;
        width: 100%;
    }

    .choice__rating {
        text-align: center;
    }

    .choice__star:not(:last-child) {
        margin-right: 14px;
    }

    .choice__stars {
        margin-bottom: 32px;
    }

    .choice__rating-number {
        font-size: 48px;
        padding-left: 0;
    }

    .choice__star {
        width: 40px;
    }

    .review__container {
        width: 320px;
    }

    .review {
        padding-bottom: 70px;
        padding-top: 23px;
    }

    .review__logo {
        left: 45px;
    }

    .review__decor-black {
        right: -2100px;
        height: 474px;
        top: 101px;
    }

    .review__decor-green {
        left: -1968px;
        height: 472px;
        top: 101px;
    }

    .swiper {
        width: auto !important;
    }

    .swiper-slide-active {
        transform: scale(0.844) !important;
    }

    .swiper-slide {
        transform: scale(0.844) !important;
    }

    .swiper-slide {
        padding: 0;
    }

    .swiper .swiper-slide {
        overflow: visible !important;
    }

    .map {
        padding: 60px 0 70px 20px;
    }

    .map__img {
        display: none;
    }

    .map__link {
        font-size: 18px;
        line-height: 36px;
    }

    .swiper-button-prev {
        left: -28px !important;
        top: 49% !important;
    }

    .swiper-button-next {
        right: -42px !important;
        top: 49% !important;
    }

    .weapper__slide {
        display: flex;
        justify-content: center;
    }

    .contacts {
        padding-top: 45px;
        padding-bottom: 36px;
    }

    .contacts__title {
        font-size: 40px;
        margin-bottom: 12px;
    }

    .contacts__content {
        flex-direction: column;
        align-items: center;
    }

    .contacts__block-info {
        width: 100%;
    }

    .contacts__list {
        margin-bottom: 34px;
        margin-left: 17px;
    }

    .contacts__link {
        font-size: 16px;
        letter-spacing: 0.03rem;
    }

    .contacts__item-img {
        width: 5%;
    }

    .contacts__btns {
        justify-content: center;
        margin-bottom: 15px;
    }

    .contacts__text {
        padding-left: 15px;
        line-height: 125%;
        letter-spacing: 0.04rem;
    }

    .wrapper__contacts-btns {
        padding-left: 0;
    }

    .phons {
        height: 1827px;
    }

    .contacts__map {
        width: 330px;
        height: 330px;
    }

    .contacts__decor {
        width: 87px;
        height: 331px;
        top: 3px;
        right: -76px;
    }

    .contacts__btn-black,
    .contacts__btn {
        width: 178px;
    }

    .contacts__btn {
        color: #000;
    }

    .contacts__item-map {
        margin-bottom: 24px;
    }

    .contacts__item-tel {
        margin-bottom: 28px;
    }

    [alt=map] {
        width: 23px;
        margin-right: 24px;
        margin-left: 3px;
    }

    [alt=tel] {
        width: 31px;
    }

    [alt=mail] {
        width: 29px;
        margin-right: 22px;
    }

    .footer__container {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 39px;
    }

    .footer__wrapper {
        padding-top: 15px;
    }

    .footer__blcok {
        justify-content: space-around;
    }

    .footer__tel {
        padding-left: 122px;
        margin-bottom: 39px;
        letter-spacing: 0.06rem;
    }

    .footer__list:first-child {
        margin-right: 0px;
    }

    .footer__nav {
        margin-right: 0;
    }

    .footer__item {
        margin-bottom: 38px;
    }

    .footer__link {
        font-size: 16px;
        letter-spacing: 0.03rem;
    }

    .up {
        left: 26px;
        top: -68px;
    }

    .up__img {
        margin-bottom: 14px;
    }

    .contacts__decor-mega {
        left: -3633px;
        top: -47px;
    }

    .wrapper__start {
        align-items: flex-start;
    }

    .model {
        padding-bottom: 30px;
    }

    .model__decor {
        display: none;
    }

    .model__title {
        padding-top: 60px;
        width: 300px;
        font-size: 32px;
        padding-bottom: 10px;
    }

    .model__name {
        display: block;
        padding-left: 0;
    }

    .model__content {
        flex-direction: column-reverse;
    }

    .model__block {
        width: 100%;
    }

    .model__list {
        width: 100%;
        padding-top: 20px;
    }

    .model__offer {
        font-size: 16px;
    }

    .wrapper__models {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .wrapper__tel {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .footer__down {
        margin-top: 30px;
    }

    .footer__paragrapg {
        padding: 0;
        font-size: 16px;
    }

    .footer__down-text {
        text-align: center;
    }

    .decor__img {
        display: none;
    }

    .models {
        padding-top: 80px;
    }

    .models__title {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .models__titel {
        font-size: 24px;
        align-items: center;
        font-weight: 400;
        width: 100%;
    }

    .models__decor {
        height: 21px;
    }

    .models__block-all {
        padding-left: 0;
        padding-top: 330px;
    }

    .models__item {
        flex-direction: column;
    }

    .models__table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 40px;
    }

    .models__img {
        top: 70px;
        bottom: none;
    }

    .devices {
        padding-bottom: 30px;
    }

    .devices__container {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }

    .models__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .models {
        padding-bottom: 30px;
    }

    .models__table {
        margin-bottom: 0;
    }

    .models__colum:nth-child(1n+3) {
        display: none;
    }

    .models__table.price__active .models__colum:nth-child(1n+3) {
        display: grid;
    }

    .models__table.active .models__colum:nth-child(1n+3) {
        display: grid;
    }

    .price__devices__blcok {
        height: 260px;
    }

    .price__devices__img {
        transform: translate(-50%, -25%) scale(1.5);
    }

    .devices__price:nth-child(1n+5) {
        display: none !important;
    }

    .models__link {
        font-size: 15px;
    }

    .models__more {
        padding: 20px 60px;
        background-color: #fff;
        border-radius: 20px;
        text-align: center;
    }

    .found__content {
        flex-direction: column;
    }

    .found__titel {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .found__text {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .found {
        padding-bottom: 30px;
    }

    .found__block {
        align-self: flex-start;
    }

    .found__text {
        width: 295px;
        margin-bottom: 20px;
    }

    .found__content {
        padding: 20px 24px 35px 24px;
    }

    .price__found__content {
        flex-direction: row;
        align-items: center;
        padding: 14px 50px;
    }

    .price__found__titel {
        font-size: 28px;
    }

    .price__found__text {
        font-size: 18px;
        max-width: 90%;
        width: 100%;
        margin-bottom: 0;
    }

    .price__found__block {
        align-self: auto;
    }

    .price__found__btn {
        width: 250px;
        font-size: 18px;
    }

    .models__colum {
        min-width: fit-content;
    }

    .models__row {
        width: fit-content;
    }

    .price__contacts__content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .price__contacts__btn-black,
    .price__contacts__btn {
        width: 200px;
    }

    .price__contacts__block-info {
        width: 60%;
    }

    .price__contacts__map {
        width: 300px;
        height: 300px;
    }

    .price__contacts__decor {
        width: 57px;
        height: 297px;
        right: -48px;
    }

    .price__contacts__link {
        font-size: 20px;
    }

    .price__footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 39px;
    }

    .price__footer__wrapper {
        padding-top: 15px;
    }

    .price__footer__blcok {
        justify-content: space-around;
    }

    .price__footer__tel {
        padding-left: 0;
        margin-bottom: 39px;
        letter-spacing: 0.06rem;
    }

    .price__footer__list:first-child {
        margin-right: 0px;
    }

    .price__footer__nav {
        margin-right: 0;
    }

    .price__footer__item {
        margin-bottom: 38px;
    }

    .price__footer__link {
        font-size: 16px;
        letter-spacing: 0.03rem;
    }

    .price__up {
        left: 26px;
        top: -68px;
    }

    .price__up__img {
        margin-bottom: 14px;
    }

    .price__wrapper__start {
        align-items: flex-start;
    }

    .price__footer__list:first-child {
        margin-right: 100px;
    }

    .price__footer__nav {
        margin-right: 120px;
    }

    .price__burger {
        width: 90px;
        height: 55px;
    }

    .header__btn {
        display: none;
    }
}

@media (max-width: 900px) {
    .price__footer__list:first-child {
        margin-right: 60px;
    }

    .price__footer__nav {
        margin-right: 60px;
    }

    .decor__big {
        display: none;
    }
}

@media (max-width: 800px) {
    .found__content {
        flex-direction: column;
    }

    .found__titel {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .found__text {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .found {
        padding-bottom: 30px;
    }

    .found__block {
        align-self: flex-start;
    }

    .found__text {
        width: 295px;
        margin-bottom: 20px;
    }

    .found__content {
        padding: 20px 24px 35px 24px;
    }

    .price__burger {
        position: relative;
        display: block;
        width: 72px;
        height: 49px;
        margin-right: 14px;
        transition: all 0.5s;
    }

    .price__burger span {
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        background-color: #fff;
        transition: all 0.5s;
    }

    .price__burger__up,
    .price__burger__down {
        position: absolute;
        content: "";
        width: 58%;
        height: 5px;
        background-color: #fff;
        transition: all 0.5s;
    }

    .price__contacts__map {
        width: 330px;
        height: 330px;
    }

    .price__contacts__decor {
        width: 87px;
        height: 331px;
        top: 3px;
        right: -76px;
    }

    .price__contacts__btn-black,
    .price__contacts__btn {
        width: 178px;
    }

    .devices__blcok {
        height: 200px;
    }

    .price__contacts__item-map {
        margin-bottom: 24px;
    }

    .price__contacts__item-tel {
        margin-bottom: 28px;
    }

    .price__contacts {
        padding-top: 47px;
        padding-bottom: 36px;
    }

    .price__contacts__title {
        font-size: 40px;
        margin-bottom: 12px;
    }

    .price__contacts__content {
        flex-direction: column;
        align-items: start;
    }

    .price__contacts__block-info {
        width: 100%;
    }

    .price__contacts__list {
        margin-bottom: 34px;
        margin-left: 17px;
    }

    .price__contacts__link {
        font-size: 16px;
        letter-spacing: 0.03rem;
    }

    .price__contacts__item-img {
        width: 5%;
    }

    .price__contacts__btns {
        justify-content: center;
        margin-bottom: 15px;
    }

    .price__contacts__text {
        padding-left: 15px;
        line-height: 125%;
        letter-spacing: 0.04rem;
    }

    .price__wrapper__contacts-btns {
        padding-left: 0;
    }

    .wrapper__models {
        display: block;
    }

    .price__container {
        max-width: 430px;
    }

    .devices__container {
        row-gap: 30px;
    }

    .price__footer__container {
        display: flex;
        flex-direction: column-reverse;
    }

    .price__footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 39px;
    }

    .price__footer__wrapper {
        padding-top: 15px;
    }

    .price__footer__blcok {
        justify-content: space-around;
    }

    .price__footer__tel {
        padding-left: 122px;
        margin-bottom: 39px;
        letter-spacing: 0.06rem;
    }

    .price__footer__list:first-child {
        margin-right: 0px;
    }

    .price__footer__nav {
        margin-right: 0;
    }

    .price__footer__item {
        margin-bottom: 38px;
    }

    .price__footer__link {
        font-size: 16px;
        letter-spacing: 0.03rem;
    }

    .price__up {
        left: 26px;
        top: -68px;
    }

    .price__up__img {
        margin-bottom: 14px;
    }

    .price__wrapper__start {
        align-items: flex-start;
    }

    .devices__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px) {
    .footer__paragrapg br {
        display: none;
    }

    .index__choice {
        padding-bottom: 320px;
    }

    .index__title {
        font-size: 30px;
    }

    .devices__container {
        grid-template-columns: 1fr 1fr;
    }

    .main {
        padding-top: 65px;
    }

    #contact:before {
        height: 55px;
        margin: -55px 0 0;
    }

    .models__table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .price__burger {
        width: 60px;
        height: 37px;
    }

    .models {
        padding-top: 50px;
    }

    .models__title {
        font-size: 30px;
    }

    .models__titel {
        font-size: 20px;
    }

    .models__link {
        font-size: 14px;
        text-wrap: nowrap;
    }

    .models__more {
        font-size: 16px;
    }

    .devices__img {
        transform: scale(0.8);
    }

    .devices__blcok {
        height: 220px;
    }

    .found__titel {
        font-size: 16px;
        width: fit-content;
    }

    .devices__blcok {
        height: 150px;
    }

    .found__text {
        font-size: 13px;
        width: fit-content;
    }

    .devices__titel {
        font-size: 14px;
    }

    .found__btn {
        font-size: 16px;
        width: 220px;
        height: 50px;
    }

    .model__title {
        font-size: 28px;
    }

    .model__list {
        width: 100%;
    }

    .model__offer,
    .model__price {
        font-size: 16px;
        text-wrap: nowrap;
    }

    .model__img {
        width: 250px;
    }

    .model {
        padding-bottom: 60px;
    }

    .case__img {
        width: 90%;
    }

    .case__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav {
        top: 64px;
    }

    .container {
        max-width: 350px;
    }

    .header {
        padding: 15px 0;
    }

    .header__logo img {
        width: 80%;
    }

    .hero__title {
        font-size: 32px;
    }

    .hero__item {
        font-size: 14px;
    }

    .burger {
        width: 60px;
        height: 37px;
    }

    .burger__down,
    .burger__up,
    .burger span {
        height: 5px;
    }

    .burger.active .burger__up {
        transform: rotate(45deg) translate(5px, 1.5px);
    }

    .burger.active .burger__up:first-child {
        transform: rotate(-45deg) translate(-5px, 1.5px);
    }

    .burger.active .burger__down {
        transform: rotate(-45deg) translate(5px, -3px);
    }

    .burger.active .burger__down:last-child {
        transform: rotate(45deg) translate(-5px, -3px);
    }

    .contacts__block-map {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .btn {
        font-size: 14px;
        width: 160px;
        height: 50px;
    }

    .hero__img {
        width: 220px;
        top: 150px;
        right: -90px;
    }

    .choice__titel {
        font-size: 25px;
    }

    .choice__item {
        font-size: 16px;
        width: 100%;
        background-size: contain;
        padding-left: 60px;
    }

    .choice__block:last-child {
        top: 365px;
    }

    .choice__rating {
        font-size: 24px;
    }

    .call__title {
        font-size: 22px;
    }

    .call__text {
        font-size: 14px;
        width: 170px;
    }

    .call__input {
        width: 275px;
        height: 50px;
        padding-left: 20px;
        font-size: 14px;
    }

    .call__input:not(:last-child) {
        margin-bottom: 20px;
    }

    .call__btn {
        font-size: 16px;
        width: 200px;
        height: 60px;
    }

    .call__polit {
        font-size: 10px;
    }

    .swiper-slide-active {
        transform: scale(0.644) !important;
    }

    .swiper-slide {
        transform: scale(0.644) !important;
    }

    .swiper-button-prev svg,
    .swiper-button-next svg {
        width: 70% !important;
    }

    .swiper-button-prev {
        left: 0 !important;
    }

    .swiper-button-next {
        right: 0 !important;
    }

    .choice__rating-number {
        font-size: 42px;
    }

    .choice__stars {
        margin-bottom: 20px;
    }

    .choice__star {
        width: 32px;
    }

    .choice__star:not(:last-child) {
        margin-right: 6px;
    }

    .choice__avito {
        width: 72%;
    }

    .swiper-wrapper {
        height: 500px !important;
    }

    .review__decor-green,
    .review__decor-black {
        top: 38px;
    }

    .review__decor-green {
        left: -2030px;
    }

    .review__decor-black {
        right: -2050px;
    }

    .contacts__title {
        font-size: 30px;
    }

    .contacts__text {
        font-size: 16px;
    }

    .contacts__map {
        width: 260px !important;
        height: 260px !important;
    }

    .contacts__decor {
        display: none;
    }

    .footer__tel {
        font-size: 18px;
    }

    .up {
        padding: 15px 20px;
    }

    .up__img {
        width: 80%;
        margin-bottom: 10px;
    }

    .up__text {
        font-size: 14px;
    }

    .footer__item {
        margin-bottom: 10px;
    }

    .footer__link {
        font-size: 14px;
    }

    .map {
        padding: 40px 0 40px 20px;
    }

    .map__link {
        font-size: 14px;
        line-height: 32px;
    }

    .price-list__container .devices__img {
        height: 65%;
    }

    .price-list__container .devices__blcok {
        height: 150px;
    }
}

@media (max-width: 380px) {
    .container {
        max-width: 350px;
    }

    .btn {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .container {
        max-width: 300px;
    }

    .choice__item {
        font-size: 14px;
    }

    .footer__tel {
        font-size: 16px;
    }
}

@media (max-width: 340px) {

    .model__offer,
    .model__price {
        font-size: 14px;
    }
}